{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="text-center" style="padding-top: 160px;padding-bottom: 176px">
        <h1 style="font-size: 70px">Welcome to G-Hood</h1>
        <a href="{% url 'hood' %}" class="btn btn-sm btn-info mt-4">view neighbourhoods</a>
    </div>

</div>
<style>
    body{
        background-image: url('static/images/index1.jpg');
        background-repeat:no-repeat;
        background-size: cover;
    }
</style>
{% endblock %}