{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">

  <div class="row">
    {% for hood in all_hoods %}
    <div class="col-md-4">
      <div class="card mb-4" style="min-height:340px">
        <h5 class="card-title">{{ hood.name }} ({{hood.location}}) <span class="ml-4">{{hood.members.count}}
          member{{hood.members.count|pluralize}}</span></h5>
        <img src="{{ hood.neighborhood_logo.url }}" class="card-img-top" alt="{{ hood.name }}" height="180px">
        <div class="card-body">
          
          <p class="card-text">{{hood.description}}</p>
          {% if request.user.profile.neighborhood == hood %}
          <a href="{% url 'leave-hood' hood.id %}" class="btn btn-outline-danger btn-sm">Leave Neighborhood</a>
          
          <a href="{% url 'single-hood' user.profile.neighborhood.id %}" class="btn btn-outline-success btn-sm" style="float: right">Explore {{user.profile.neighbourhood.name}} Estate
        </a>
          {% elif not request.user.profile.neighborhood %}
          <a href="{% url 'join-hood' hood.id %}" class="btn btn-info btn-sm">Join Neighbourood</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
    <a href="{% url 'new-hood' %}" class="btn btn-sm btn-info mb-2" style="text-align: center"> New Neighborhood</a>
</div>

<style>
    body{
      background-image: url('/static/images/index2.jpg');
      background-repeat:no-repeat;
      background-size: cover;
    }
  </style>
{% endblock %}
