[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
config = "*"
django-bootstrap4 = "*"
django-heroku = "*"
gunicorn = "*"
pillow = "*"
psycopg2 = "*"
python-decouple = "*"
whitenoise = "*"
django-crispy-forms = "*"
pycodestyle = "*"
autopep8 = "*"
confusable-homoglyphs = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.8"
